/*
    Names: Dailee Howard, Nematu Ayaz-akhundzada, Ruslan Bessarab
    Date: January 22nd, 2021
    File: styles.css
*/

img {
    border-radius: 50%;
    width: 200px;
    height: 10%;
    border: solid black;
    border: 3px;
}